.parent {
  display: flex;
  flex: 1;
  justify-content: space-around;
  flex-direction: column;
  align-self: stretch;
}

.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.cup-container {
  flex-basis: 50%;
  margin: 50px 0;
}
.button {
  align-self: center;
}
.txt-win {
  color: #0f0;
}
.txt-loss {
  color: #f00;
}
